@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body{
  font-family: 'Indie Flower', cursive, Arial, sans-serif;
  background: url('http://cache.desktopnexus.com/thumbseg/957/957737-bigthumbnail.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

h1{
 text-align: center;
 color: white;
}

img{
  margin: 10px;
  padding: 10px;
  text-align: left;
  box-shadow: 2px 2px 20px #918c40;
}
nav{
    width: 300px;
    height: 300px;
    margin: 10px 50px;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #888888;
}
a{
  font-size:150%;
	text-decoration: none;
	color: #009900;
  font-size: 200%
	}
a:hover {
	background-color: #ccff99;
	color: #000000;
	}
#first{
  position: absolute;
	top: 110px;
	left: 600px;
  width: 600px;
  height: 340px;
  margin: 0;
  padding: 20px;
  background-color: #686868;
  border:2px solid lightgray;
	border-radius:10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: #f0f0f0;
  text-align:center;
  font-size: 175%;
}
#second{
  position: absolute;
	top: 550px;
	left: 300px;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #282828;
  border:2px solid white;
	border-radius:10px;
  opacity: 0.5;
  filter: alpha(opacity=60);
  color: white;
  font-size:125%;
}
#third{
  position: absolute;
  top: 840px;
  left: 450px;
  width: 630px;
  height: 30px;
  margin: 25px;
  padding: 35px;
}
#theweeknd{
  position: absolute;
	top: 500px;
	left: 750px;
  width: 250px;
  height: 300px;
  margin: 10px 30px;
  padding: 10px;
  background-color: #005CB8;
  box-shadow: 10px 10px 5px #002952;
}
#hunter{
  position: absolute;
  top: 530px;
  left: 700px;
  width: 450px;
  height: 300px;
  margin: 10px 30px;
  padding: 10px;
  background-color: #C8C8C8;
  box-shadow: 10px 10px 5px #909090;
}
#chilling{
  position: absolute;
  top: 530px;
  left: 720px;
  width: 400px;
  height: 280px;
  margin: 10px 30px;
  padding: 10px;
  background-color: #303030;
  box-shadow: 10px 10px 5px #ffffff;
}
#u{
  position: absolute;
  top: 100px;
  left: 300px;
  height: 700px;
  width:800px;
}
button{
  background-color: transparent;
  border: 0;
  font-family: 'Indie Flower', cursive, Arial, sans-serif;
  color: white;
  font-size: 115%;
}
.dont{
  font-size:200%;
  color: #009900;
}
